<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>This is the Home-Page 1*2</h1>
    <h2><%= "apnacollage".toUpperCase() %></h2>
    <h2><%= ["Hello" , "Bonjour" , "Namaste"][1] %></h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, eos velit?
      Blanditiis totam quia dolore dicta enim eligendi quas eveniet et voluptas?
      Quis, fugit possimus tenetur eligendi magni provident eius cupiditate,
      nihil, ducimus soluta consectetur!
    </p>
    <button>Click Me</button>
  </body>
</html>
