.container {
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 3px solid rgb(56, 112, 180);
    border-radius: 12px;
    padding-left: 6px;

    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.child {
    height: 50px;
    width: 80px;
    font-size: 24px;
    font-weight: 600;
}