<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here is your post in detail</h2>
    <h4>Post id : <%= post.id %></h4>
    <div class="post">
        <h2 class="user">@<%= post.username %></h2>
        <p><%= post.content %></p>
    </div>
</body>
</html>